<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329227199636-sjnjl34gdl77m0knh38toq42075oi4g5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329227199636-sjnjl34gdl77m0knh38toq42075oi4g5</string>
	<key>API_KEY</key>
	<string>AIzaSyCE1j61UIvSyrg4Cb_Dpz0EUcPxWm6pQ-M</string>
	<key>GCM_SENDER_ID</key>
	<string>329227199636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mak5er.Pocket-Poster</string>
	<key>PROJECT_ID</key>
	<string>emposter-eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>emposter-eaf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329227199636:ios:d862a6732d282cc9228081</string>
</dict>
</plist>